.Header{
  &__header{
    height: auto;
    padding: 12px 24px;
    background-color: transparent;
  }

  &__container{
    border-radius: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav{
    flex: 1;
    border: none;
    background-color: transparent;
    justify-content: center;
    font-size: 16px;
  }
}